{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load dataindex %}

{% block breadcrumbs %}{% endblock %}

{% block main_content %}
{% block messages %}
        {% if messages %}
          <div class="row">
              <div class="col-sm-12">
                  {% for message in messages %}                    
                  <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible">
                      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                      {{ message|safe }}
                  </div>
                  {% endfor %}
              </div>
          </div>
        {% endif %}
    {% endblock %}
   <section class="content">
   </section>
{% endblock %}