{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
	{% if not is_popup %}
	<ol class="breadcrumb">
	    <li><a href="{% url 'admin:index' %}"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
	    <li class="active">{% trans 'Password change done' %}</li>
	  </ol>
	{% endif %}
{% endblock %}


{% block main_content %}
<div class="">
    <div class="box" >
    	<div class="clearfix"></div>
      	<div class="box-body">
      		<div class="alert alert-info">
      			<p>{% trans 'Your password was changed.' %} <a href="{% url 'admin:index' %}">{% trans 'Kembali ke beranda' %}</a></p>
			</div>
      	</div>
    </div>
</div>
{% endblock %}